*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    box-sizing: border-box;
    background-image: url('../assets/img/background2.png');
    background-size: cover;
    max-width: 114rem;
    margin: 0 auto;
}

html {
    font-size: 62.5%;
}